{% extends 'base.html' %}

{% block title %}{{ topic.name }}{% endblock %}

{% block content %}
    {% drilldown_tree_for_node topic as topics %}
    <ol class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        {% for topic in topics %}
            <li class="{{ forloop.last|yesno:'active,' }}">
                <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
            </li>
        {% endfor %}
    </ol>

    <h1>{{ topic.name }}</h1>
    <p>{{ topic.description }}</p>
    {% for article in articles %}
        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
        <p>{{ article.body|striptags|truncatechars:200 }}</p>
    {% empty %}
        没有文章
    {% endfor %}
    {% if is_paginated %}
        {% include 'article/_pagination.html' with page=page_obj %}
    {% endif %}
{% endblock %}